<div class="content">
    <h1 class="text-center">
        <span *ngIf="!data">Add new budget
        </span>
        <span *ngIf="data">View the budget
        </span>
    </h1>
    <form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
            <mat-label>Enter fiscal year</mat-label>
            <input matInput required formControlName="fiscalYear">
            <mat-error *ngIf="f.fiscalYear.errors">
                <div *ngIf="f.fiscalYear.errors.required">Fiscal year is required</div>
            </mat-error>
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>Enter budget code</mat-label>
            <input matInput required formControlName="budgetCode">
            <mat-error *ngIf="f.budgetCode.errors">
                <div *ngIf="f.budgetCode.errors.required">Budget code is required</div>
            </mat-error>
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>Enter budget title</mat-label>
            <input matInput required formControlName="budgetTitle">
            <mat-error *ngIf="f.budgetTitle.errors">
                <div *ngIf="f.budgetTitle.errors.required">Budget title is required</div>
            </mat-error>
        </mat-form-field><br>
        <button mat-raised-button color="primary" type="submit" class="submit-button">
            {{data ? 'Close': 'Add'}}
        </button>
    </form>
</div>